:root{
  --dark: #343a40;
  --codeDark: #232528;
  --codeYellow: #ffa400; 
}
body{
  font-family: 'Oswald',sans-serif !important;}
.navbar-dark {
    background-color:var(--dark);
}
.navi-title{
  font-family: 'Pacifico',sans-serif;
  color:white;
}
.navi-product .navi-text{
  color: white;
  font-size: 1.5em;
  padding-left: 20px;
}
.navi-product .navi-text:hover{
  text-decoration: none;
  color: red;
}
.fa-cart-plus{
  color: white;
  padding-left: 20px;
  
}
.navi-cart{
  font-size:1.5rem;
}
.fa-cart-plus:hover{
  color: red;
}





