:root{
  --dark: #343a40;
  --codeDark: #232528;
}
body{
  font-family: sans-serif !important;
}
.navbar-dark {
    background-color:var(--dark);
}
.navi-title{
  font-family: 'Pacifico',sans-serif;
  color:white;
}
.navi-title:hover{
  color: #2098D1;
}
.navi-product .navi-text{
  color: white;
  font-size: 1.5em;
  font-family: 'Pacifico',sans-serif;
  margin:10px;
}
.navi-product .navi-text:hover{
  text-decoration: none;
  color: red;
}
.fa-cart-plus{
  color: white;
  }
.navi-cart{
  font-size:1.5rem;
  font-family: 'Pacifico',sans-serif;
  margin:10px;
  
}
.fa-cart-plus:hover{
  color: red;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.our-products{
  color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}.our-products:hover{
  color:#2098D1;
}
.card{
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.5);
}
.card-img-top{
  border:2px solid black;
}
.my-font{
  font-family: 'Pacifico',sans-serif;
}
.lead{
  font-family: monospace;
  font-size: larger;
}
.detail-title{
  text-align: center;
  font-family: 'Pacifico',sans-serif;
  color: #2098D1;
}
.detail-price{
  background-color: rgb(150,150,100);
}
.information{
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 1000;
  font-style: italic;
}
.empty-cart{
  text-align: end;
  margin-top:5rem;
  font-size: 3rem;
  font-family: monospace;
}
.hvr-grow-shadow {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
hr.hr-color{
  border:2px solid black;
}